.about .banner {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  padding: 0 0 10px 0;
  justify-content: center;
}
.about .banner object {
  max-width: 100vmax;
  max-height: 35vmax;
}
.about .main-content {
  background-color: var(--green);
}
.about .main-content h2 {
  color: white;
  height: auto;
  margin: auto;
  padding: 10vw 0;
  max-width: 50vw;
  overflow: visible;
  text-align: center;
}
.about .sub-content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10vh 0;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
}
.about .sub-content h3 {
  height: auto;
  margin: auto;
  max-width: 50vw;
  text-align: left;
  overflow: visible;
  font-weight: lighter;
}
.about .sub-content button {
  margin: auto;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 10vw;
  min-height: 10vh;
  border-radius: 10px;
  background-color: var(--orange);
  border-top: 3px var(--darkorange) solid;
  border-right: 7px var(--darkorange) solid;
}
.about .sub-content button:hover {
  color: white;
  box-shadow: 5px 5px 10px #999;
  background-color: var(--lightorange);
}
.about .sub-content button:active {
  border: none;
  color: white;
  box-shadow: 3px 3px 10px #999;
  background-color: var(--orange);
  border-left: 7px var(--lightorange) solid;
  border-bottom: 3px var(--lightorange) solid;
}
.about .sub-content button i {
  font-size: 40px;
}
