.agenda {
  width: 30%;
  height: 100%;
  max-width: 30%;
  max-height: 100%;
  color: var(--darkgreen);
  background-color: white;
}
.agenda p {
  text-align: center;
}
.agenda h2 {
  margin: 0;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  color: var(--darkgreen);
  background-color: white;
  text-decoration: underline;
}
.agenda ul {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  max-width: 100%;
  color: lightgrey;
  text-align: left;
  list-style-type: none;
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  border: 1px var(--darkgreen) solid;
}
.agenda ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px var(--darkgreen) solid;
}
.agenda ul li img {
  height: 100px;
  max-width: 25%;
  max-height: 10%;
}
.agenda ul li div {
  margin: 0;
  padding: 0;
  width: 70%;
  max-width: 70%;
}
.agenda ul li div p {
  margin: 0;
  padding: 0;
  padding: 5px;
  color: dimgrey;
  font-size: 20px;
  text-align: left;
}
.agenda ul li a {
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
  color: var(--darkgreen);
}
.agenda ul li a:hover {
  color: var(--green);
}
.agenda ul li a:active {
  color: var(--green);
}
