.button i {
  min-width: 40px;
  min-height: 40px;
}
.button {
  color: white;
  padding: 10px;
  cursor: pointer;
  min-width: 50px;
  font-size: 40px;
  transition: 0.8s;
  text-align: center;
  border-radius: 50%;
  background-position: center;
  background-color: var(--green);
  text-shadow: 5px 5px 10px var(--darkgreen);
}
.button:hover {
  box-shadow: 3px 3px 10px #999;
  background: var(--green) radial-gradient(circle, var(--green) 1%, var(--darkgreen) 1%) center/15000%;
}
.button:active {
  background-color: var(--darkgreens);
  background-size: 100%;
  transition: 0s;
}
.left {
  position: fixed;
  z-index: 2;
  bottom: 37%;
  left: calc(55% / 2 - 45px);
}
.right {
  position: fixed;
  z-index: 2;
  bottom: 37%;
  right: calc(55% / 2 - 45px);
}
