.calendar {
  width: 70%;
  height: 100%;
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  max-height: 100%;
  flex-direction: row;
  color: var(--darkgreen);
  background-color: white;
  align-content: flex-start;
}
.calendar h2 {
  margin: 0;
  width: 100%;
  padding: 5px 0;
  height: 40px;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
}
.calendar h2 .prev {
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
  margin-left: 10px;
}
.calendar h2 .next {
  margin: 0;
  padding: 0;
  float: right;
  cursor: pointer;
  margin-right: 10px;
}
.calendar h2 a:hover {
  text-shadow: 3px 3px 10px #999;
}
.calendar h2 a:active {
  text-shadow: 3px 3px 10px #999;
}
.calendar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: calc(100% / 7);
  max-width: calc(100% / 7);
  height: calc(100% - 50px);
}
.calendar ul li:nth-child(1) {
  color: white;
  height: 30px;
  text-align: center;
  background-color: var(--darkgreen);
}
.calendar ul li:nth-child(1):hover {
  color: white;
  cursor: inherit;
}
.calendar ul li:nth-child(1):active {
  color: white;
  cursor: inherit;
}
.calendar ul li.empty {
  cursor: inherit;
}
.calendar ul li {
  cursor: pointer;
  text-align: left;
  height: calc(100% / 5 - 44px / 5);
  border: 1px var(--darkgreen) solid;
}
.calendar ul li p {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: center;
  color: var(--dargreen);
}
.calendar ul li:hover {
  color: var(--green);
}
.calendar ul li:active {
  color: var(--green);
}
.calendar ul li.active {
  background-color: var(--lightgreen);
}
