.chat {
  display: flex;
  max-height: none;
  flex-direction: row;
  flex-direction: column;
  background-color: white;
}
.chat .messages {
  width: 100%;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.messages .playdate {
  width: 50%;
  margin: auto;
  color: #fff;
  text-align: left;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--teal);
  box-shadow: 3px 3px 10px #999;
}
.playdate p {
  margin: 0;
  padding: 5px;
}
.playdate .buttons {
  width: 100%;
  display: flex;
  max-width: none;
  flex-direction: row;
  background-color: #ddd;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
}
.playdate a {
  width: 50%;
  cursor: pointer;
  text-align: center;
  color: dimgrey;
  padding: 5px 0 10px 0;
}
.playdate a:hover {
  color: var(--green);
  border-top: 2px var(--green) solid;
}
.playdate a:active {
  color: var(--green);
  border-top: 2px var(--green) solid;
}
.chat .messages .button {
  margin: 5px;
  float: right;
  position: relative;
}
.chat .button {
  margin: 0 5px;
}
.chat .send {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  align-content: center;
  justify-content: space-around;
  background-color: var(--lightgreen);
}
.chat .form {
  width: calc(100% - 150px);
  max-width: calc(100% - 150px);
}
.chat .mess {
  margin: 30px 0;
  display: flex;
}
.chat .not {
  text-align: left;
  margin-left: 10px;
  flex-direction: row;
}
.chat .me {
  text-align: right;
  margin-right: 100px;
  flex-direction: row-reverse;
}
.chat .mess div {
  max-width: 50%;
}
.chat .mess img {
  z-index: 1;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  border: 2px var(--lightgreen) solid;
}
.chat .mess div p {
  margin: 0;
  padding: 0;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #999;
}
.chat .mess div small {
  font-size: 12px;
  color: var(--darkgreen);
}
.chat .mess.me div p {
  text-align: left;
  padding: 10px 35px 10px 10px;
  background-color: var(--darkgreen);
}
.chat .mess.not div p {
  text-align: right;
  padding: 10px 10px 10px 35px;
  background-color: var(--green);
}
.chat .mess.me img {
  margin: -20px 0 0 -30px;
}
.chat .mess.not img {
  margin: -20px -30px 0 0;
}

@media only screen and (max-width: 800px) {
  .chat .mess div {
    max-width: calc(100vw - 150px);
  }
}
