.error {
  color: white;
  width: 95%;
  z-index: 10;
  right: calc(5% / 2 - 20px);
  bottom: 10px;
  padding: 20px;
  position: fixed;
  background-color: var(--red);
}
.error .close {
  cursor: pointer;
  float: right;
}
.error:hover {
  box-shadow: 3px 3px 10px #888;
}
.error .close:hover {
  color: dimgrey;
}

/* TODO: media query @ 800px to full screen */
@media only screen and (max-width: 800px) {
  .error {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    right: 0;
    bottom: 0;
    padding: 20px;
  }
}
