/* ---- FORM ---- */
.form {
  text-align: center;
  padding: 20px;
  background-color: transparent;
}
.form input {
  padding: 5px 0px 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 0;
  text-align: left;
  font-size: 30px;
  border-bottom: 2px var(--darkgreen) solid;
  color: var(--darkgreen);
  transition: 0.5s;
  width: calc(100% - 10px);
  background-color: transparent;
  margin-bottom: 15px;
}
.form input:focus {
  outline: none;
  color: var(--green);
  border-color: var(--green);
}
.form textarea {
  resize: none;
  outline: none;
  padding: 0 5px;
  margin-top: 10px;
  border: none;
  border-radius: 0;
  text-align: left;
  font-size: 30px;
  border-bottom: 2px var(--darkgreen) solid;
  color: var(--darkgreen);
  transition: 0.5s;
  width: calc(100% - 10px);
  background-color: transparent;
  word-wrap: break-word;
  overflow: auto;
  font-family: Helvetica, Arial, sans-serif;
}
.form textarea:focus {
  outline: none;
  color: var(--green);
  border-color: var(--green);
}
.placeholder {
  margin-left: 10px;
  margin-bottom: -45px;
  color: var(--darkgreen);
  font-size: 30px;
  transition: 0.3s;
  position: relative;
  text-align: left;
}
.label {
  margin-top: 0px;
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: -14px;
}
input[type=submit], .submit {
  padding: 7px 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  width: 100%;
  background-color: var(--green);
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-shadow: 5px 5px 10px var(--darkgreen);
  background-position: center;
  transition: 0.8s;
}
a.submit {
  display: block;
  width: calc(100% - 20px);
}
input[type=submit]:hover, .submit:hover {
  box-shadow: 5px 5px 10px #888;
  background: var(--green) radial-gradient(circle, transparent 1%, var(--darkgreen) 1%) center/15000%;
}
input[type=submit]:active, .submit:active {
  color: white;
  background-color: var(--green);
  background-size: 100%;
  transition: 0s;
}
.reset {
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding-bottom: 10px;
  color: var(--darkgreen);
  text-decoration: underline;
  background-color: transparent;
}
.reset:hover {
  color: var(--red);
}
