.images {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 45%;
  max-height: 45%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #eee;
}
.images div {
  width: 80%;
  height: 100%;
  max-width: 80%;
  min-width: 80%;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
}
.images div img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  min-height: unset;
}
.images div a {
  z-index: 1;
  color: #fff;
  float: right;
  font-size: 40px;
  cursor: pointer;
  position: relative;
  margin-top: -11px;
  margin-bottom: -35px;
  text-shadow: 1px 1px 5px #555;
}
.images div a:hover {
  color: dimgrey;
}
.images div a:active {
  color: dimgrey;
}
.images img {
  height: 100%;
  max-width: 80%;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
}
.images .prev, .images .next {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  color: var(--green);
  vertical-align: middle;
  background-color: #ddd;
}
.images .prev:hover, .images .next:hover {
  color: var(--darkgreen);
  text-shadow: 5px 5px 10px #999;
}
.images .prev:active, .images .next:active {
  color: var(--darkgreen);
  text-shadow: 5px 5px 10px #999;
}
/* TODO: media query @ 800px to full screen */
@media only screen and (max-width: 800px) {
  .images {
    height: auto;
    width: 100vw;
    min-height: 35vh;
    max-width: 100vw;
  }
  .images .prev, .images .next {
    width: 10vw;
    height: 35vh;
    max-width: 10vw;
  }
  .images img {
    height: auto;
    max-width: 80vw;
    max-height: 35vh;
    text-align: center;
  }
  .images div {
    max-width: 80vw;
    min-width: unset;
    max-height: 35vh;
    min-height: unset;
  }
  .images div img {
    width: auto;
    height: auto;
    max-width: 80vw;
    min-height: unset;
  }
}
