.info {
  display: flex;
  max-height: 35vh;
  flex-direction: row;
  background-color: white;
}
.info .form {
  width: 60%;
  max-width: 60%;
  overflow-y: auto;
  padding: 10px 0 0 10px;
}
/* TODO: media query for 1440px */
@media only screen and (min-width: 925px) and (max-width: 1440px) {
  .info {
    height: auto;
    flex-wrap: wrap;
    max-height: none;
  }
  .info .form {
    order: 3;
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
  .info .buttons {
    order: 2;
    width: 8vw;
    max-width: 8vw;
  }
  .info .images {
    order: 1;
    width: 90vw;
    max-width: 90vw;
    max-height: 35vh;
  }
}

@media only screen and (max-width: 924px) {
  .info {
    height: auto;
    flex-wrap: wrap;
    max-height: none;
  }
  .info .buttons {
    width: 100px;
    min-width: 100px;
    max-width: none;
  }
  .info .form {
    width: calc(100% - 110px);
    max-width: calc(100% - 110px);
  }
  .info .images {
    width: 100vw;
    max-width: 100vw;
    max-height: 35vh;
  }
}
