.list {
  text-align: center;
  color: var(--green);
}
.list .images {
  width: 30%;
  height: auto;
  max-width: 30%;
  max-height: 100%;
}
.list .images img {
  width: auto;
  height: auto;
  margin: auto;
  max-height: 35vh;
  text-align: center;
}
.list .search {
  display: flex;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: var(--lightgreen);
}
.list .buttons {
  width: 10%;
  display: flex;
  max-width: 10%;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
}
.search input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 30px;
  color: var(--green);
  border: 2px var(--green) solid;
  background-color: transparent;
}
.search input::placeholder {
  color: var(--green);
}
.search input:focus {
  outline: none;
  color: var(--darkgreen);
  border: 2px var(--darkgreen) solid;
}
.search .pets {
  width: calc(100% - 55px);
}
.search .matches {
  width: 100%;
}
.search a {
  cursor: pointer;
  font-size: 45px;
  color: var(--green);
}
.search a:hover {
  color: var(--darkgreen);
  text-shadow: 3px 3px 5px #999;
}
.search a:active {
  color: var(--darkgreen);
  text-shadow: 3px 3px 5px #999;
}
.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list ul li .h1 {
  margin: 0;
  color: white;
  padding: 10px;
  display: flex;
  text-align: left;
  justify-content: space-around;
  background-color: var(--green);
}
.list ul li .h1 h1 {
  margin: 0;
  color: white;
  text-align: left;
  width: calc(100% - 55px);
  background-color: var(--green);
}
.list ul li .h1 a {
  color: white;
  font-size: 45px;
  cursor: pointer;
}
.list ul li .h1 a:hover {
  text-shadow: 3px 3px 5px var(--darkgreen);
}
.list ul li .h1 a:active {
  color: var(--lightgreen);
  text-shadow: 3px 3px 5px var(--darkgreen);
}
