/* ---- SIGN IN/UP STYLES ---- */
.container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.login {
  min-width: 50%;
  max-width: 50%;
  min-height: 200px;
  background-color: white;
  align-self: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 3px 3px 10px #888;
}
.tabs {
  min-width: 100%;
  background-color: var(--lightgreen);
  text-align: center;
  display: flex;
  flex-direction: row;
}
.tabs a {
  padding: 10px 0px;
  font-size: 40px;
  color: var(--green);
  margin: 0px;
  cursor: pointer;
  width: 50%;
}
.tabs a:hover {
  border-bottom: 2px var(--darkgreen) solid;
}
.tabs .active {
  color: var(--darkgreen);
  border-bottom: 2px var(--darkgreen) solid;
}

/* TODO: media query @ 800px to full screen */

/* ---- MOBILE VIEW  >= 1075px ---- */
@media only screen and (max-width: 800px) {
  .login {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
  }
}
