.playdates {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  flex-direction: row;
}

@media only screen and (max-width: 1323px) {
  .playdates {
    flex-direction: column;
  }
  .playdates .calendar {
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 50%;
  }
  .playdates .agenda {
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 50%;
  }
  .playdates .calendar ul li p {
    font-size: 25px;
    margin: -15px 0px 0px 0px;
  }
}

@media only screen and (max-height: 700px) {
  .playdates .calendar ul li p {
    display: none;
  }
}
