.pro {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.profile {
  width: 45%;
  height: 90%;
  max-width: 45%;
  max-height: 90%;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 10px #888;
}
.profile h2 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: lighter;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
}
.profile .placeholder {
  font-size: 25px;
}
.profile .label {
  font-size: 14px;
}
.profile .form input, .profile .form textarea {
  font-size: 25px;
}
.form textarea {
  min-height: 40px;
  max-height: 175px;
}
.profile .form {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px 0px 20px;
  max-height: calc(55% - 65px);
}

@media only screen and (min-width: 801px) and (max-width: 1300px) {
  .left {
    left: calc(40% / 2 - 45px);
  }
  .right {
    right: calc(40% / 2 - 45px);
  }
  .profile {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .profile .form {
    max-height: none;
  }
}

@media only screen and (max-width: 800px) {
  .left {
    left: 5px;
    bottom: 5px;
  }
  .right {
    right: 5px;
    bottom: 5px;
  }
  .profile {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .profile .form {
    max-height: none;
  }
}
