body {
  margin: 0;
  padding: 0;
  background-color: var(--offwhite);
  font: 25px Helvetica, Arial, sans-serif;
}

.app {
  width: 100vw;
  display: flex;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  max-height: 100vh;
  flex-direction: column;
}

.top {
  z-index: 2;
  height: 10%;
  display: flex;
  max-height: 10%;
  min-height: 75px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: var(--green);
  box-shadow: 0px 0px 10px #444;
}
.top.general {
  justify-content: space-between;
}
.top.general .menu {
  margin: 0;
  justify-content: space-between;
}


.menu {
  width: 80px;
  margin: 0 2%;
  color: white;
  height: 100%;
  font-size: 40px;
  transition: 0.8s;
  border-radius: 50%;
  text-align: center;
  background-position: center;
}
.menu:hover {
  text-shadow: 3px 3px 5px var(--darkgreen);
  background: transparent radial-gradient(circle, transparent 1%, var(--darkgreen) 1%) center/15000%;
}
.menu:active {
  transition: 0s;
  background-size: 100%;
  background-color: transparent;
}
.menu.active {
  color: var(--lightgreen);
  text-shadow: 3px 3px 5px var(--darkgreen);
}
.menu i {
  cursor: pointer;
  line-height: 1.9;
}

.content {
  height: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
}
